extends layout.pug

block head
  title New Book

block content
  header
    div.container
      h1 New Book

  main
    div.container
      include errors.pug

      form(action="/books/new", method="post")
        p
          label(for='title') Title
          input#title(name='title' type='text' value=`${book ? book.title : ''}`)
        p
          label(for='author') Author
          input#author(name='author' type='text' value=`${book ? book.author : ''}`)
        p
          label(for='genre') Genre
          input#genre(name='genre' type='text' value=`${book ? book.genre : ''}`)
        p
          label(for='year') Year
          input#year(name='year' type='text' value=`${book ? book.year : ''}`)
        div.btn-container
          a#ghost-btn.button(href='/books') Cancel
          input(type='submit' value='Create New Book')