body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

.modal a, a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  width: 95%;
  max-width: 420px;
  margin: 50px auto auto;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  transition: .4s ease-out;
  text-align: center;
}

.pagination-container ul {
  list-style: none;
  padding: 0;
}

.pagination-container li {
  display: inline-block;
}

.pagination-container li a {
  padding: 10px;
}

#search-submit {
  margin-left: 10px;
}