/***************** General *****************/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #F5F5F5;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

main .container {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

/***************** Buttons *****************/
.modal a, 
a.button, 
input[type=submit] {
  color: white;
  background: #20a7c9;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 1px solid #20a7c9;
}

form a.button, 
input[type=submit] {
  transition: 0.4s;
}

a.button:hover, 
input[type=submit]:hover {
  background-color: white;
  border: 1px solid #20a7c9;
  color: #20a7c9;
}

#ghost-btn {
  color: #20a7c9;
  background: white;
  border: 1px solid #20a7c9;
}

#ghost-btn:hover {
  background: #20a7c9;
  color: white;
}

#delete-btn {
  color: #cc0a0a;
  background: white;
  border: 1px solid #cc0a0a;
}

#delete-btn:hover {
  color: white;
  background: #cc0a0a;
}

/***************** Header *****************/
header {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

header h1 {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #777;
}

header form {
  margin-right: auto;
}

header input {
  border: 0;
  padding: 10px;
}

#search-submit {
  display: none;
}

#search-icon {
  fill: #777;
  height: 20px;
  position: relative;
  top: 5px;
}

/***************** Table *****************/
table {
  padding: 20px 20px 0 20px;
  color: #333;
  border-spacing: 0;
  width: 100%;
}

table a {
  color: #20a7c9;
}

th {
  text-align: left;
  padding: 5px 20px 5px 10px;
  text-transform: uppercase;
  color: #9a9a9a;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #F9F9F9;
}

tr:nth-child(2n):hover {
  background: #F5F5F5;
}

td {
  border-top: 1px solid #ddd;
  padding: 12px 20px 12px 10px;
}

/***************** Forms *****************/
main .container form {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
}

label {
  font-weight: bold;
  min-width: 70px;
  display: inline-block;
  transition: 0.4s;
  color: #444;
  text-transform: uppercase;
}

input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.4s;
  border: 1px solid #e3e3e3;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/***************** Modal *****************/
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  width: 95%;
  max-width: 420px;
  margin: 50px auto auto;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  transition: .4s ease-out;
  text-align: center;
}

.modal .button {
  margin-right: 15px;
}

.modal i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #777;
  padding: 5px;
}

.modal i:hover {
  cursor: pointer;
}

/***************** Pagination *****************/
.pagination-container {
  padding: 0 20px;
}
.pagination-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.pagination-container li {
  display: inline-block;
}

.pagination-container li a {
  color: #777;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.pagination-container li a.active,
.pagination-container li a:hover {
  color: #20a7c9;
  border: 1px solid #e7e7e7;
}

/***************** Errors *****************/
.errors {
  padding: 20px 0 0 0;
  text-align: center;
  color: #cc0a0a;
}

ul.errors {
  padding-top: 0;
}

.no-results {
  padding: 20px;
  text-align: center;
  color: #777;
}

.not-found {
  padding: 20px;
  text-align: center;
  color: #777;
}

.not-found a {
  display: inline-block;
  margin-top: 10px;
}

/***************** Media Queries *****************/
@media screen and (min-width:768px) {
  main .container form {
    max-width: 400px;
  }
}